openapi: 3.0.3
info:
  title: Blackbaud SKY API sample
  version: '1.0'
  description: |
    Minimal schema for ChatGPT Actions demonstrating how to search for constituents
    and create notes without using Power BI.
servers:
  - url: https://api.sky.blackbaud.com
paths:
  /constituent/v1/constituents:
    get:
      summary: Search constituents
      parameters:
        - name: search_text
          in: query
          required: true
          schema:
            type: string
          description: Text to search for in constituent names.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of constituents
          content:
            application/json:
              schema:
                type: object
  /constituent/v1/constituents/{constituent_id}/notes:
    post:
      summary: Create a note for a constituent
      parameters:
        - name: constituent_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                details:
                  type: string
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                type: object
security:
  - OAuth2ClientCredentials: []
    BbApiSubscriptionKey: []
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth2.sky.blackbaud.com/token
          scopes: {}
    BbApiSubscriptionKey:
      type: apiKey
      in: header
      name: Bb-Api-Subscription-Key
